body {
  padding: 50px;
  font-family: 'Questrial', sans-serif;
  font-size: medium;
}
h1, h2, h3, h4, h5, h6{
  font-family: 'Roboto Slab', serif;  
}
a {
  color: #00B7FF;
}
.vertical{
  transform: rotate(90deg);
}
@keyframes rotate {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}
fan .on #fan{
  transform-origin: 50% 60%;
  transform: translate(0, -27.4112);
	animation: rotate 1s linear infinite ;
}
light .on #tube1, light .on #tube2, light-array .on #tube1, light-array .on #tube2 {
	fill:#ffffff !important;
}
fan > md-card, light > md-card {
  /* max-width:200px; */
  max-height:550px;
}
ac .on #indicator{
  fill: rgb(76,175,80) !important;
}
temperature .sensor.md-button.md-fab{
  position: absolute;
  overflow:visible;
}
temperature .reading{
  font-size:24px;
  font-weight: 400
}
badge{
  font-size: 10px;
  border-radius: 5px;
  background-color: rgb(66,66,66);
  color: white;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
}
.controls-table td{
  position: relative;
}
md-card {
  padding: 15px;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22) !important;
}
table {
  margin-bottom: 40px !important;
}
table md-card .md-actions, table md-card md-card-actions{
  margin:0px;
  margin-left:8px;
}
md-card md-switch{
  margin:1px;
}
.child .location-btn{
  /* position: absolute; */
  font-size:20px;
  min-width:100px;
  min-height:60px;
  /* top:50px; */
}
.indicator{
  width:50px;
  height:50px;
}
.alert .md-list-item-text p{
  color:black;
}
.text-center{
  text-align: center;
}

@keyframes raise_hell {
  0% {background-color: rgb(244, 67, 54);}
  50% {background-color: rgb(48,48,48);}
  100% {background-color: rgb(244, 67, 54);}
}
.raise-hell{
	animation: raise_hell 2s linear infinite ;
}

.is-admin md-toolbar{
  background-color: #673ab7;
}
.child{
  position: relative;
}
.child .control-btn.md-mini.md-fab{
  position: absolute;
  visibility: hidden;
  top:-20px;
  right:-20px;
  z-index: 2;
}
.child:hover .control-btn.md-mini.md-fab{
  color:#ffffff;
  visibility: initial;
}



/* ******************** flowchart ******************** */
/*
Generic reset.
*/

* {
	padding: 0;
	margin: 0;
}

.test {
	border: 5px red solid;
	padding: 10;
	margin: 10;
	font-family: "Times New Roman";
	font-style: italic;
}

/*
Styles for nodes and connectors.
*/

.node-rect {
	stroke: black;
	stroke-width: 2;
}

.mouseover-node-rect {
	stroke: black;
	stroke-width: 4;
}

.selected-node-rect {
	stroke: red;
	stroke-width: 3;
}

.connector-circle {
    fill: white;
    stroke: black;
    stroke-width: 2;
}

.mouseover-connector-circle {
    fill: white;
    stroke: black;
    stroke-width: 3;
}

/*
Style for connections.
*/

.connection {
}

.connection-line {
	stroke: gray;
	stroke-width: 4;
	fill: transparent;
}	

.mouseover-connection-line {
	stroke: gray;
	stroke-width: 6;
	fill: transparent;
}	

.selected-connection-line {
	stroke: red;
	stroke-width: 4;
	fill: transparent;
}	

.connection-endpoint {
	fill: gray;
}

.selected-connection-endpoint {
	fill: red;
}	

.mouseover-connection-endpoint {
	fill: gray;
}

.connection-name{
	fill: black;
}

.selected-connection-name{
	fill: red;
}

.mouseover-connection-name{
	fill: gray;
}
/*
Style for the connection being dragged out.
*/

.dragging-connection {
	pointer-events: none;
}

.dragging-connection-line {
	stroke: gray;
	stroke-width: 3;
	fill: transparent;
}	

.dragging-connection-endpoint {
	fill: gray;
}

/*
The element (in this case the SVG element) that contains the draggable elements.
*/

.draggable-container {
	border: solid 1px blue;
}

/*
Drag selection rectangle.
*/

.drag-selection-rect {
	stroke: blue;
	stroke-width: 2;
	fill: transparent;
}
/* ******************** end flowchart ******************** */
