<md-card>
    <md-card-header>
        <md-card-header-text>
            <!-- <span class="md-title">{{$ctrl.lightArray.name}}</span> -->
            <md-switch ng-model="$ctrl.light.properties.state.on" aria-label="Switch" ng-click="switch($ctrl.light)">
                {{$ctrl.light.name}}</md-switch>

        </md-card-header-text>
    </md-card-header>
    <div ng-include="'images/light.svg'" layout layout-align="center start" class="light"
        ng-class="{'on':$ctrl.light.properties.state, 'vertical':$ctrl.light.properties.orientation=='vertical'}"></div>
</md-card>