<section layout="row" flex ng-class="{ 'is-admin': is_admin && editor_mode }">


    <md-sidenav class="md-sidenav-left" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')" md-whiteframe="4" ng-show="is_admin && editor_mode">

        <md-toolbar class="md-theme-light">
            <h1 class="md-toolbar-tools">Editor panel</h1>
        </md-toolbar>
        <md-content layout-padding>
            <md-subheader>Location</md-subheader>
            <form ng-submit="create_location(new_location)">
                <md-input-container>
                    <label>Name</label>
                    <input ng-model="new_location.name">
                </md-input-container>
                <md-button class="md-primary md-raised md-mini" type="submit">Create location</md-button>
            </form>
        </md-content>
    </md-sidenav>

    <md-content flex="100" ng-class="{'raise-hell':hell_raised}">
        <div ng-include="'templates/toolbar.html'"></div>

        <!-- <section class="trail" layout flex="100" flex-gt-sm="80" flex-offset-gt-sm="10" layout-align="start start">
            <span ng-repeat="t in trail" >
                    <md-button class="md-accent" ng-click="navigateTrail(t)">{{t}}</md-button>
                    <span ng-if="!$last">></span>
            </span>

        </section> -->
        <md-divider></md-divider>
        <div layout layout-padding>
            <span flex></span>
            <md-switch ng-model="editor_mode" aria-label="Switch" ng-show="is_admin"><small>Editor mode</small>
            </md-switch>
        </div>
        <section layout flex="100" flex-gt-sm="80" flex-offset-gt-sm="10" layout-align="start start" layout-wrap ng-if="location.children && location.children.length>0">
            <md-subheader flex="100">Locations</md-subheader>
            <!-- <md-card ng-repeat="child in properties.children" ng-click="navigate(child.location)" ng-style="child.style" class="child">
                <md-card-header>
                    <md-card-header-text>
                        <span class="md-title">{{child.name}}</span>
                    </md-card-header-text>
                </md-card-header>
            </md-card> -->
            <div ng-repeat="child in location.children" class="child">
                <md-button class="md-raised location-btn" md-colors="{background:'blue'}" ng-click="navigate(child.id)" ng-style="child.properties.style" flex="100">
                    {{child.name}}
                </md-button>
                <md-button class="md-fab md-mini control-btn" aria-label="More" ng-click="remove_location(child.id)" ng-show="is_admin && editor_mode">
                    <md-icon class="material-icons">delete</md-icon>
                </md-button>
            </div>

        </section>
        <section layout flex="100" flex-gt-sm="80" flex-offset-gt-sm="10" layout-align="center start" layout-wrap layout-padding ng-if="embeds" ng-bind-html="embeds">

        </section>
        <!-- GROUP CONTROLS -->
        <section layout flex="100" flex-gt-sm="80" flex-offset-gt-sm="10" layout-align="start" layout-align-gt-xs="space-around" layout-wrap ng-if="equipment_groups && equipment_groups.length>0">
            <md-subheader flex="100">Location-wide controls</md-subheader>

            <!-- <span ng-repeat="action in properties.actions">
                <md-switch ng-model="action.state">{{action.name}}</md-switch>
            </span> -->

            <zone ng-repeat="group in equipment_groups" zone="group" layout-padding></zone>
        </section>

        <section layout layout-align="start" layout-align-gt-xs="space-around" flex="100" flex-gt-sm="80" flex-offset-gt-sm="10" layout-wrap ng-if="table && table.length>0">
            <md-subheader flex="100">Equipment Controls</md-subheader>
            <table flex="100" flex-gt-sm="80" class="controls-table">
                <tr ng-repeat="row in table">
                    <td ng-repeat="item in row  track by $index" colspan="{{item.equipment.properties.colspan}}" rowspan="{{item.equipment.properties.rowspan}}">
                        <light ng-if="item.equipment.type=='light'" light="item.equipment"></light>
                        <light-array ng-if="item.equipment.type=='light_array'" light-array="item.equipment">
                        </light-array>
                        <fan ng-if="item.equipment.type=='fan'" fan="item.equipment"></fan>
                        <ac ng-if="item.equipment.type=='ac'" ac="item.equipment"></ac>
                        <temperature ng-if="item.sensor.type=='temperature'" temperature="item.sensor"></temperature>
                    </td>
                </tr>
            </table>
        </section>
    </md-content>
    <!-- <span class="md-avatar indicator" md-colors="{background: '{{generateColorFromLevel(alert.level)}}'}"  ></span> -->


    <!-- <md-sidenav class="md-sidenav-right" md-component-id="right" md-is-locked-open="$mdMedia('gt-md')" md-whiteframe="4" ng-hide="is_admin && editor_mode">

        <md-toolbar class="md-theme-light">
            <h1 class="md-toolbar-tools">Alerts</h1>
        </md-toolbar>
        <md-content layout-padding>
            <md-list flex>
                <md-list-item class="md-3-line alert" ng-repeat="alert in alerts" ng-click="null" layout-margin layout-padding md-colors="{background: '{{generateColorFromLevel(alert.level)}}'}">

                    <div class="md-list-item-text" layout="column">
                        <h3>{{ alert.title }}</h3>
                        <p>{{ alert.description }}</p>
                    </div>
                </md-list-item>
            </md-list>
        </md-content>
    </md-sidenav> -->
</section>