<section layout="row" flex>

    <md-content flex="100">
        <div ng-include="'templates/toolbar.html'"></div>
        <section class="trail" layout flex="80" flex-offset="10" layout-align="start start">
            <span ng-repeat="t in trail" >
                    <md-button class="md-accent" ng-click="navigateTrail(t)">{{t}}</md-button>
                    <span ng-if="!$last">></span>
            </span>

        </section>
        <md-divider></md-divider>
        <section layout flex="80" flex-offset="10" layout-align="start start" layout-wrap ng-if="properties.children && properties.children.length>0" style="position: relative;">
            <md-subheader flex="100">Locations</md-subheader>
            <!-- <md-card ng-repeat="child in properties.children" ng-click="navigate(child.location)" ng-style="child.style" class="child">
                <md-card-header>
                    <md-card-header-text>
                        <span class="md-title">{{child.name}}</span>
                    </md-card-header-text>
                </md-card-header>
            </md-card> -->
            <md-button class="md-raised child" md-colors="{background:'blue'}" ng-repeat="child in properties.children" ng-click="navigate(child.location)" ng-style="child.style" >{{child.name}}</md-button>
        </section>
        <section layout flex="80" flex-offset="10" layout-align="start start" ng-if="properties.embeds && properties.embeds.length>0">
                <div ng-repeat="embed in properties.embeds track by $index" ng-bind-html="embed"></div>        
        </section>
        <!-- GROUP CONTROLS -->
        <section layout flex="80" flex-offset="10" layout-align="start" layout-align-gt-xs="space-around" layout-wrap ng-if="equipment_groups && equipment_groups.length>0">
            <md-subheader flex="100">Location-wide controls</md-subheader>

            <!-- <span ng-repeat="action in properties.actions">
                <md-switch ng-model="action.state">{{action.name}}</md-switch>
            </span> -->
            
            <zone  ng-repeat="group in equipment_groups" zone="group"></zone>
        </section>

        <section layout layout-align="start" layout-align-gt-xs="space-around" flex="80" flex-offset="10" layout-wrap ng-if="table && table.length>0">
            <md-subheader flex="100">Equipment Controls</md-subheader>
            <table flex="80" class="controls-table">
                <tr ng-repeat="row in table">
                    <td ng-repeat="item in row  track by $index" colspan="{{item.equipment.properties.colspan}}" rowspan="{{item.equipment.properties.rowspan}}">
                        <light ng-if="item.equipment.type=='light'" light="item.equipment"></light>
                        <light-array ng-if="item.equipment.type=='light_array'" light-array="item.equipment"></light-array>
                        <fan ng-if="item.equipment.type=='fan'" fan="item.equipment"></fan>
                        <ac ng-if="item.equipment.type=='ac'" ac="item.equipment"></ac>
                        <temperature ng-if="item.sensor.type=='temperature'" temperature="item.sensor"></temperature>
                    </td>
                </tr>
            </table>
        </section>
    </md-content>

    <md-sidenav class="md-sidenav-right" md-component-id="right" md-is-locked-open="$mdMedia('gt-md')" md-whiteframe="4">

        <md-toolbar class="md-theme-light">
            <h1 class="md-toolbar-tools">Alerts</h1>
        </md-toolbar>
        <md-content layout-padding>
            <md-list flex >
                <md-list-item class="md-3-line alert" ng-repeat="alert in alerts" ng-click="null" layout-margin layout-padding md-colors="{background: '{{generateColorFromLevel(alert.level)}}'}" >
                    <!-- <span class="md-avatar indicator" md-colors="{background: '{{generateColorFromLevel(alert.level)}}'}"  ></span> -->
                    <div class="md-list-item-text" layout="column">
                        <h3>{{ alert.title }}</h3>
                        <p>{{ alert.description }}</p>
                    </div>
                </md-list-item>
              </md-list>
        </md-content>
    </md-sidenav>
</section>