<div ng-include="'/templates/toolbar.html'"></div>
<md-content layout layout-align="center top">
    <section flex="100" layout layout-align="center center" layout-wrap>
        <h1 style="font-size: 120px; font-weight: 100" class="text-center" flex="100" >
            <img src="images/oneboard-logo.png" height="100px" alt="" style="position: relative; bottom: -5px">
            SEIL Oneboard
        </h1>
        <br>
        <h2 style="font-size: 50px; font-weight: 100" class="text-center" flex="100">Building Managment System Interface</h2>    
        <md-button ui-sref="login" class="md-primary md-raised" >
            LOGIN
        </md-button>
    </section>
</md-content>